-e .
ipython==8.11.0; python_version >= "3.7"
ipython==8.11.0; python_version < "3.7"
black==23.1.0
isort==5.12.0
flake8==5.0.4
pytest==7.2.2
pytest-cov==4.0.0
twine==4.0.2
wheel==0.38.4
matplotlib==3.7.1
mypy==1.1.1
pandas==1.5.3
pandas-stubs==1.5.3.230304
