-e .
ipython==8.7.0; python_version >= "3.7"
ipython==8.7.0; python_version < "3.7"
black==23.1.0
isort==5.12.0
flake8==5.0.4
pytest==7.2.1
pytest-cov==4.0.0
twine==4.0.2
wheel==0.38.4
matplotlib==3.6.3
mypy==0.991
pandas==1.5.3
pandas-stubs==1.5.2.230105
